.big-heading {
    font-family: "Source Sans Pro";
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-end{
    padding: 4% 10%;
}

body {
    background-color: aliceblue!important;
}

form {
    color: rgb(52,50,83);
}

nav {
    color: rgb(52, 50, 83);
    margin-left: 40px;
    margin-right: 40px;
}
table {
    color: rgb(52,50,83);
    width: 30%;
}
.bg-primary {
    background-color: #112D32!important;
    color: white!important;
}
.bg-secondary {
    background: linear-gradient(90deg, rgba(163,170,167,1) 29%, rgba(79,167,153,1) 63%, rgba(11,34,77,1) 100%) !important;

}
.form-control {
    background-color: ghostwhite!important;
}
.container {
    margin-left: 40px;

}

a {
 color: #0000ff;
}


