<!--coding by PH & AV-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rekeningoverzicht</title>
</head>
<body>
<h1>Welkom <span th:text="${userName}"></span></h1>

<br>
<table>
    <tr>
        <th>Bankrekeningnummer</th>
        <th>Actueel Saldo</th>
    </tr>
    <tr>
        <td th:text="${iban}"></td>
        <td th:text="${balance}"></td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th>Datum</th>
        <th>Tegenrekening</th>
        <th>Omschrijving</th>
        <th>Bij- of afschrijving</th>
        <th>Bedrag</th>
    </tr>
    <tr th:each="transaction: ${allTransactions}">
        <td th:text="${transaction.transactionDate}"></td>
        <td th:text="${transaction.bankAccount.IBAN == iban} ? ${transaction.bankAccountTo} : ${transaction.bankAccount}"></td>
        <td th:text="${transaction.description}"></td>
        <td th:text="${transaction.bankAccount.IBAN == iban} ? 'Af': 'Bij'"></td>
        <td th:text="${transaction.amount}"></td>
    </tr>
</table>
<br>
<table>
    <form action="#" th:action="@{transactionRequest(id=${iban})}" th:object="${user}" method="post">
    <input type="submit" value="Overboeking maken">
</form>

    <form action="#" th:action="@{newAccountRequest}" th:object="${user}" method="post">
        <input type="submit" value="Rekening openen">
    </form>
<!-- added by BvB -->
    <form>
        <!--action="#" th:action="@{loanDetailsRequest}" th:object="${user}" method="post">-->
        <input type="submit" value="Leningen">
    </form>
</table>
<a th:href="@{new_enof_account}"><button>nieuwe en/of rekening</button></a>

<br>

Ga <a href="/overview" >terug</a> naar uw persoonlijke pagina.

<br>
<br>

<a href="/">Uitloggen</a>

</body>
</html>