<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Couch Bank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="24x24">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img th:src="@{/images/couchlogo.png}" alt="logo" height="100"/>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ></a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
    </div>
</nav>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white"><h3>Login Zakelijk</h3><span th:text="${retailUserFullName}"></span></div>
<div class="p-3 mb-2 bg-secondary text-white">
    <br>
<div class="container">

<form action="#" th:action="@{zakelijk-klant}" th:object="${smeUser}" method="post" class="col-sm-4" >
    <div class="form-group">
        <label for="username">Gebruikersnaam:</label>
        <input class="form-control" type="text" th:field="*{userName}" id="username"/>
    </div>
    <div class="form-group">
        <label for="password">Wachtwoord:</label>
        <input class="form-control" type="password" th:field="*{userPassword}" id="password"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
</div>
</div>
</body>
Klik <a href="/">hier</a> om terug te gaan naar het vorige scherm
</html>