<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Login Zakelijk</h3>
<form action="#" th:action="@{zakelijk-klant}" th:object="${smeUser}" method="post">
    <table>

        <br>
        <tr>
            <td><label for="username">Usernaam:</label></td>
            <td><input type="text" th:field="*{userName}" id="username"/></td>
        </tr>
        <tr>
            <td><label for="password">Wachtwoord:</label></td>
            <td>
                <input type="text" th:field="*{userPassword}" id="password"/>
            <td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>

</body>
</html>