<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welkom bij Couch Bank</h1>
<br>
<h3>Login</h3>
<form action="#" th:action="@{overview}" th:object="${user}" method="post">
    <table>

        <br>
        <tr>
            <td>Naam:</td>
            <td><input type="text" th:field="*{userName}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label>
                <input type="text" th:field="*{userPassword}"/>
            </label>
            <td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
<form>
<h3>Nieuwe Klant </h3>
Klik <a href="newUser">hier</a>  voor een account te maken
</form>
<form>
    <h3>Zakelijke Klant </h3>
    <a href="zakelijk-klant">Log in zakelijk</a>
</form>
<form>
    <h3>Couch Medewerker </h3>
    <a href="bankemployee">Internal login</a>
</form>
</body>
</html>
