<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <title>Uitgelogd</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Couch Bank</a>
        </div>
    </div>
</nav>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">U bent succesvol uitgelogd</div>
<div class="p-3 mb-2 bg-secondary text-white">Dank u voor uw bezoek, tot een volgende keer.</div>
<br>
<h2></h2>
<h3></h3>
</body>
</html>