<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
​
<head>
    <meta charset="UTF-8">
    <title>Couch Bank nieuwe klant</title>
</head>
<body>
<h2>Welkom nieuwe klant! Vul hieronder uw gegevens in</h2>
<br><br>
<form action="#" th:action="@{retailUserHandler}" method="post">
    <table>
        <tr><td>User ID: </td>
            <td><input type="text" name="userId" th:field="*{User.userId}"/></td></tr>
        <tr><td>Kies gebruikersnaam: </td>
            <td><input type="text" name="userName" th:field="*{User.userName}"/> </td></tr>
        <tr><td>Kies wachtwoord: </td>
            <td><input type="text" name="password" th:field="*{User.userPassword}"/></td></tr>
        <tr><td>BSN:</td>
            <td><input type="text" name="bsn" th:field="*{RetailUser.bsn}"/></td></tr>
        <tr><td>Voornaam:</td>
            <td><input type="text" name="firstName" th:field="*{RetailUser.firstName}"/></td></tr>
        <tr><td>Middel namen:</td>
            <td><input type="text" name="middleName" th:field="*{RetailUser.middleName}"/></td></tr>
        <tr><td>Achternaam: </td>
            <td><input type="text" name="lastName" th:field="*{RetailUser.lastName}"/></td></tr>
        <tr><td>Straat: </td>
            <td><input type="text" name="streetName" th:field="*{RetailUser.streetName}"/></td></tr>
        <tr><td>Huisnummer: </td>
            <td><input type="text" name="houseNumber" th:field="*{RetailUser.houseNumber}"/></td></tr>
        <tr><td>Toevoeging: </td>
            <td><input type="text" name="extension" th:field="*{RetailUser.extension}"/></td></tr>
        <tr><td>Postcode: </td>
            <td><input type="text" name="zipcode" th:field="*{RetailUser.zipcode}"/></td></tr>
        <tr><td>Stad: </td>
            <td><input type="text" name="city" th:field="*{RetailUser.city}"/></td></tr>
        <tr><td>Telefoonnummer: </td>
            <td><input type="text" name="phoneNumber" th:field="*{RetailUser.phoneNumber}"/></td></tr>
        <tr><td>Geboortedatum: </td>
            <td><input type="text" name="dateOfBirth" th:field="*{RetailUser.dateOfBirth}"/></td></tr>
        <tr><td>Email adres: </td>
            <td><input type="text" name="email" th:field="*{RetailUser.email}"/></td></tr>
        <tr><td>Rol: </td>
            <td><input type="text" name="role" th:field="*{RetailUser.role}"/></td></tr>
    </table>
    
        <button name="submit" type="submit" value="0">Verstuur</button>

    
</form>
</body>
</html>