<!DOCTYPE html>
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
​
<head>
    <meta charset="UTF-8">
    <title>Couch Bank nieuwe klant</title>
</head>
<body>
<h2>Welkom nieuwe klant! Vul hieronder uw gegevens in. Velden met een * zijn verplicht.</h2>
<br><br>
<form action="#" th:action="@{newRetailUser}" th:object="retailUser" method="post">
    <table>
        <tr>
            <td>Kies gebruikersnaam: *</td>
            <td><input type="text" name="userName" th:field="*{userName}"/> </td>
            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username ongeldig.</td>
        </tr>
        <tr>
            <td>Kies wachtwoord: *</td>
            <td><input type="text" name="userPassword" th:field="*{userPassword}"/></td>
            <td th:if="${#fields.hasErrors('userPassword')}">Wachtwoord ongeldig.</td>
        </tr>
        <tr>
            <td>BSN: *</td>
            <td><input type="text" name="bsn" th:field="*{bsn}" /></td>
            <td th:if="${#fields.hasErrors('bsn')}" th:errors="*{bsn}">Bsn ongeldig.</td>
        </tr>
        <tr>
            <td>Voornaam: *</td>
            <td><input type="text" name="firstName" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}">Voornaam ongeldig.</td>
        </tr>
        <tr><td>Tussenvoegsel: </td>
            <td><input type="text" name="middleName" th:field="*{middleName}"/></td>
            <td th:if="${#fields.hasErrors('middleName')}">Middel namen ongeldig.</td>
        </tr>
        <tr>
            <td>Achternaam: *</td>
            <td><input type="text" name="lastName" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}">Achternaam ongeldig.</td>
        </tr>
        <tr>
            <td>Straat: *</td>
            <td><input type="text" name="streetName" th:field="*{streetName}"/></td>
        <td th:if="${#fields.hasErrors('streetName')}">Straatnaam ongeldig.</td>
        </tr>
        <tr>
            <td>Huisnummer: *</td>
            <td><input type="text" name="houseNumber" th:field="*{houseNumber}" /></td>
            <td th:if="${#fields.hasErrors('houseNumber')}">Huisnummer ongeldig.</td>
        </tr>
        <tr>
            <td>Toevoeging: </td>
            <td><input type="text" name="extension" th:field="*{extension}"/></td>
            <td th:if="${#fields.hasErrors('extension')}">Toevoeging ongeldig.</td></tr>
        <tr>
            <td>Postcode: *</td>
            <td><input type="text" name="zipcode" th:field="*{zipcode}"/></td>
            <td th:if="${#fields.hasErrors('zipcode')}">Postcode ongeldig.</td>
        </tr>
        <tr>
            <td>Stad: *</td>
            <td><input type="text" name="city" th:field="*{city}"/></td>
            <td th:if="${#fields.hasErrors('city')}">Stad ongeldig.</td>
        </tr>
        <tr>
            <td>Telefoonnummer: *</td>
            <td><input type="text" name="phoneNumber" th:field="*{phoneNumber}"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}">Telefoonnummer ongeldig.</td>
        </tr>
        <tr>
            <td>Geboortedatum: *</td>
            <td><input type="text" name="dateOfBirth" th:field="*{dateOfBirth}"/></td>
            <td th:if="${#fields.hasErrors('dateOfBirth')}">Geboortedatum ongeldig.</td>
        </tr>
        <tr>
            <td>Email adres: *</td>
            <td><input type="text" name="email" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}">Email ongeldig.</td>
        </tr>
       <!--<tr th:if="${#fields.hasErrors('*')}"><td th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</td></tr>-->
    </table>
        <button name="submit" type="submit" value="0">Verstuur</button>

    
</form>
<br>
Klik <a href="home">hier</a> om terug te gaan naar het login scherm
</body>
</html>