<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Couch Bank</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="24x24">

</head>
<body>
<h1>Couch Bank nieuwe zakelijke klant</h1>

<h2><label for="smeUser">2. Vul hieronder uw gegevens in</label></h2>
<br><br>
<form id="smeUser" action="#" th:action="@{newSMEUser}" th:object="${smeUser}" method="post" >
    <table>
         <tr>
            <td><label for="role">Kies Role:</label>
            <td>
             <select id="role" th:field="*{roleEmployee}" name="roleEmployee" required>
             <option value=""> -- </option>
             <option  th:each="role: ${roles}" th:value = "${role}" th:utext = "${role}" ></option>
             </select>
        </tr>
        <tr>
            <td><label for="firstName"> Uw voornaam:: </label>
            <td><input id="firstName" type="text" th:field="*{firstName}" name="firstName" required></td>
        </tr>
        <tr>
            <td><label for="middleName"> Tussenvoegsel: </label>
            <td><input id="middleName" type="text" th:field="*{middleName}" name="middleName"> </td>
        </tr>
        <tr>
            <td><label for="lastName"> Uw achternaam: </label>
            <td><input id="lastName" type="text" th:field="*{lastName}" name="lastName" required></td>
        </tr>
        <tr>
            <td><label for="bsn"> Uw bsn: </label>
            <td><input id="bsn" type="text" th:field="*{bsn}" name="bsn" required/></td>
            <td th:if="${#fields.hasErrors('bsn')}">Bsn ongeldig.</td>
        </tr>
        <tr>
            <td><label for="userName"> Kies gebruikersnaam: </label>
            <td><input id="userName" type="text" th:field="*{userName}" name="userName" required/></td>
            <td th:if="${#fields.hasErrors('userName')}">Username ongeldig.</td>
        </tr>
        <tr>
            <td><label for="userPassword">Kies wachtwoord:</label>
            <td><input id="userPassword" type="text" th:field="*{userPassword}" name="userPassword" required /></td>
            <td th:if="${#fields.hasErrors('userPassword')}" >Wachtwoord ongeldig.</td>
        </tr>
        <td><input type="submit" value="Volgende"></td>
    </table>
</form>

</body>
</html>