<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Couch Bank nieuwe zakelijke klant</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<h1>Couch Bank nieuwe zakelijke klant</h1>

<h2><label for="company">1. Vul hieronder uw bedrijfsgegevens in</label></h2>
<br><br>
<form id="company" action="#" th:action="@{couch-zakelijk}" th:object="${company}" method="post">
    <table>
        <td><label for="companyForm">Wat is de ondernemingsvorm van uw bedrijf?</label></td>
        <td>
            <select id="companyForm" th:field="*{companyType}" required >
                <option value=""> -- </option>
                <option th:each="t: ${companyForm}" th:value = "${t}" th:text = "${t}" ></option>
            </select>
        </td>
        <tr>
            <td><label for="kvk">KvK nummer: </label> </td>
            <td><input type="text"  th:field="*{chamberOfCommerceId}"  id="kvk" required/></td>
            <td th:if="${#fields.hasErrors('chamberOfCommerceId')}" >KvK-nummer ongeldig.</td>
        </tr>
        <tr>
            <td><label for="companyName">Handelsnaam:</label></td>
            <td><input type="text" th:field="*{companyName}" id="companyName" name="companyName" required/></td>
        <tr>
        <td><label for="sector">Kies bedrijf branche:</label> </td>
        <td>
        <select id="sector" th:field="*{sector}" required>
        <option value=""> -- </option>
        <option  th:each="sector: ${sectors}" th:value = "${sector}" th:utext = "${sector}" ></option>
        </select>
        </td>
        <tr>
        <td><label for="streetName">Straat:</label> </td>
            <td><input type="text" th:field="*{streetName}" id="streetName" name="streetName" required/></td>
        <tr>
        <tr>
        <td><label for="streetNumber">Nummer:</label></td>
            <td><input type="text" th:field="*{streetNumber}" id="streetNumber" name="streetNumber" required/></td>
        <tr>
        <tr>
        <td><label for="zipcode">Zipcode</label></td>
            <td><input type="text" th:field="*{zipcode}" id="zipcode" name="zipcode" required/></td>
        <tr>
        <tr>
        <td><label for="city">Stad:</label></td>
            <td><input type="text" th:field="*{city}" id="city" name="city" required/></td>
        <tr>
        <tr>
        <td><label for="phone">Tel:</label></td>
            <td><input type="text" th:field="*{phoneNumber}" id="phone" name="phone" required/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}">Tel ongeldig</td>
        <tr>
        <tr>
        <td><label for="email">email:</label></td>
            <td><input type="email" th:field="*{email}" id="email" name="email" required/></td>
            <td th:if="${#fields.hasErrors('email')}">Email ongeldig</td>
        <tr>

    </tr>
    </table>
    <input type="submit" value="Volgende">
</form>
</body>
</html>