<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
​
<head>
    <meta charset="UTF-8">
    <title>Couch Bank nieuwe zakelijke klant</title>
</head>
<body>
<h2>U staat op de het punt te beginnen et het aanvragen van een zakelijke rekening. Met het openen van een zakelijke rekening wordt u klant
    bij Couch Bank. Vul hieronder uw gegevens in</h2>
<br><br>
<form action="#" th:action="@{newSMEUser}" th:object="${SMEUser}" method="post">
    <table>
        <tr>
            <td>Oprichtingsdatum </td>
            <td></td>
        </tr>
        <tr>
            <td>KvK nummer: </td>
            <td><input type="text" name="chamberOfCommerceId" th:field="*{chamberOfCommerceId}"/></td>
            <td th:if="${#fields.hasErrors('chamberOfCommerceId')}" th:errors="*{chamberOfCommerceId}">KvK-nummer ongeldig.</td>
        </tr>
        <tr>
            <td>Naam: </td>
            <td><input type="text" name="companyName" th:field="*{companyName}"/></td>
            <td th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Naam ongeldig.</td>
        </tr>
        <tr>
            <td>Kies gebruikersnaam: </td>
            <td><input type="text" name="userName" th:field="*{userName}"/> </td>
            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username ongeldig.</td>
        </tr>
        <tr>
            <td>Kies wachtwoord: </td>
            <td><input type="text" name="userPassword" th:field="*{userPassword}"/></td>
            <td th:if="${#fields.hasErrors('userPassword')}">Wachtwoord ongeldig.</td>
        </tr>
    </table>
    <button name="submit" type="submit" value="0">Verstuur</button>

</form>
</body>
</html>