<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Couch Bank nieuwe zakelijke klant</title>
</head>
<body>
<h1>Couch Bank nieuwe zakelijke klant</h1>

<h2>U staat op de het punt te beginnen et het aanvragen van een zakelijke rekening. Vul hieronder uw bedrijfsgegevens in</h2>
<br><br>
<form action="#" th:action="@{newSMEUser}"  method="post">
    <table>
            <td>Wat is de ondernemingsvorm van uw bedrijf?</td>
            <td>
            <select>
                <option value=""> -- </option>
                <option th:each="t: ${companyForm}" th:value = "${t.toString()}" th:utext = "${t.toString()}" ></option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Ben je de eigenaar van het bedrijf?
            <input type="radio" name="eigenaar" value="yes" checked> Yes
            <input type="radio" name="eigenaar" value="no"  > No
            </td>
        </tr>
        <tr>
            <td>KvK nummer: </td>
            <td><input type="number"  th:value="${company.chamberOfCommerceId}"  name="chamberOfCommerceId"/></td>
<!--            <td th:if="${#fields.hasErrors('chamberOfCommerceId')}" th:errors="*{chamberOfCommerceId}">KvK-nummer ongeldig.</td>-->
        </tr>
        <tr>
            <td>Naam: </td>
            <td><input type="text" th:value="${company.companyName}" name="companyName"/></td>
<!--            <td th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Naam ongeldig.</td>-->
        </tr>
<!--        <tr>-->
<!--            <td>Kies Role: </td>-->
<!--            <td><input type="text" th:value="${smeUser.roleEmployee}" name="roleEmployee"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Kies gebruikersnaam: </td>-->
<!--            <td><input type="text"  th:value="${smeUser.userName}" name="userName"/> </td>-->
<!--&lt;!&ndash;            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username ongeldig.</td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Kies wachtwoord: </td>-->
<!--            <td><input type="text" th:value="${smeUser.userPassword}" name="userPassword"/></td>-->
<!--&lt;!&ndash;            <td th:if="${#fields.hasErrors('userPassword')}">Wachtwoord ongeldig.</td>&ndash;&gt;-->
<!--        </tr>-->
    </table>
</form>
</body>
</html>