<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
​
<head>
    <meta charset="UTF-8">
    <title>Couch Bank nieuwe zakelijke klant</title>
</head>
<body>
<h2>Vul hieronder uw gegevens in</h2>
<br><br>
<!--<form action="#" th:action="@{newSMEUser}" th:object="${SMEUser}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Kies gebruikersnaam: </td>-->
<!--            <td><input type="text" name="userName" th:field="*{userName}"/> </td>-->
<!--            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username ongeldig.</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Kies wachtwoord: </td>-->
<!--            <td><input type="text" name="userPassword" th:field="*{userPassword}"/></td>-->
<!--            <td th:if="${#fields.hasErrors('userPassword')}">Wachtwoord ongeldig.</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>BSN: </td>-->
<!--            <td><input type="text" name="bsn" th:field="*{bsn}"/></td>-->
<!--            <td th:if="${#fields.hasErrors('bsn')}" th:errors="*{bsn}">Bsn ongeldig.</td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <button name="submit" type="submit" value="0">Verstuur</button>-->


</form>
</body>
</html>