<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Couch Bank</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="24x24">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img th:src="@{/images/couchlogo.png}" alt="logo" height="100"/>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/logout">Uitloggen</a></li>
        </ul>
    </div>
</nav>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">Nieuwe en/of rekening <span th:text="${retailUserFullName}"></span></div>
<div class="p-3 mb-2 bg-secondary text-white">
    <br>
<p>Koppelcode met succes aangemaakt.</p>
<br>
<table>
    <tr>
        <td><b>IBAN: </b></td>
        <td><b><span th:text="${session.clickedBankAccount.getIBAN()}"></span></b></td>
    </tr>
    <tr>
        <td><b>Koppelcode: </b></td>
        <td><b><span th:text="${session.clickedBankAccount.getKoppelcode()}"></span></b></td>
    </tr>
</table>
<br>
<div>Geef bovenstaande koppelcode en IBAN aan de persoon met wie u de en/of rekening wilt beheren.
Deze persoon kan vanuit zijn persoonlijke overzicht de rekening koppelen. Hierna heeft u beiden toegang tot de rekening.</div>
<br>
Klik <a href="/overview">hier</a> om terug te gaan naar uw persoonlijke overzicht.
</body>
</html>