<!--coding by PH & AV-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<!--<h1>Welkom <span th:text="${userName}"></span></h1>-->
<h1>Welkom <span th:text="${retailUserFullName}"></span></h1>

<div th:unless="${#lists.isEmpty(allBankAccounts)}">

    <table>
        <tr>
            <th>Bankrekening(IBAN)</th>
            <th>Saldo</th>
        </tr>
        <tr th:each="bankAccount: ${allBankAccounts}">
            <td><a href="/bankAccountDetails" th:href="@{/bankAccountDetails(id=${bankAccount.bankAccountId})}"
                   th:text="${bankAccount.iBAN}"></a></td>
            <td><span th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)}"/></td>
        </tr>
    </table>
<br>
</div>

<br>
<form action="#" th:action="@{newAccountRequest}" th:object="${user}" method="post">
    <tr>Klik om een nieuwe rekening te openen: </tr>
    <input type="submit" value="Rekening openen">
</form>
Klik hier indien u een koppelcode heeft gekregen om een en/of rekening te openen:
<a th:href="@{Koppelcode_invoeren}"><button>Koppelcode invoeren</button></a>
<br>

<a href="/">Uitloggen</a>

</body>
</html>