<!--coding by PH & AV-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="24x24">

    <title>Couch Bank</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img th:src="@{/images/couchlogo.png}" alt="logo" height="100"/>
            <a class="navbar-brand" ></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/logout">Uitloggen</a></li>
        </ul>
    </div>
</nav>
    <div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white"><span class="marginl40">Welkom <span th:text="${retailUserFullName}"></span></span></div>
<div class="p-3 mb-2 bg-secondary text-white"><span class="marginl40"><span>

<div th:unless="${#lists.isEmpty(allBankAccounts)}">

    <table>
        <tr>
            <th>Bankrekening(IBAN)</th>
            <th>Saldo</th>
        </tr>
        <tr th:each="bankAccount: ${allBankAccounts}">
            <td><a href="/bankAccountDetails" th:href="@{/bankAccountDetails(id=${bankAccount.bankAccountId})}"
                   th:text="${bankAccount.iBAN}"></a></td>
            <td><span th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)}"/></td>
        </tr>
    </table>
<br>
</div>

<br>
<form action="#" th:action="@{newAccountRequest}" th:object="${user}" method="post">
    <tr>Klik om een nieuwe rekening te openen: </tr>
    <input type="submit" value="Rekening openen">
</form>
    <span style="color: rgb(52,50,83)">Klik hier indien u een koppelcode heeft gekregen om een en/of rekening te openen: </span><a th:href="@{Koppelcode_invoeren}"><button>Koppelcode invoeren</button></a>
<br>
</span></span></div>
</body>
</html>