<!--coding by PH & AV-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<h1>Welkom <span th:text="${userName}"></span></h1>

<div th:unless="${#lists.isEmpty(allBankAccounts)}">

<table>
    <tr>
        <th>Bankrekening(IBAN)</th>
        <th>Saldo</th>
    </tr>
    <tr th:each="bankAccount : ${allBankAccounts}">
        <td><a href="/bankAccountDetails"><span th:text="${bankAccount}"></span></a></td>
<!--            <a href="@{bankAccountDetails(id=${bankAccount.bankAccountId})}"><span th:text="${bankAccount}"></span></a>-->
    </tr>
</table>
<br>
</div>

<!--<form action="#" th:action="@{transactionRequest}" th:object="${user}" method="post">-->
<!--    <tr>Klik om een overboeking te maken</tr>-->
<!--        <input type="submit" value="Overboeking maken">-->
<!--</form>-->
<br>
<form action="#" th:action="@{newAccountRequest}" th:object="${user}" method="post">
    <tr>Klik om een nieuwe rekening te openen</tr>
    <input type="submit" value="Rekening openen">
</form>
<br>

<a href="/">Uitloggen</a>

</body>
</html>