<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="24x24">

    <title>Couch Bank</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Couch Bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/logout">Uitloggen</a></li>
        </ul>
    </div>
</nav>
<div class="row"></div>

<div th:if="${roleBooleanHP}">
<div class="p-3 mb-2 bg-primary text-white">Welkom Hoofd Particulieren</div>
<div class="p-3 mb-2 bg-secondary text-white">
<!--<h1>Hoofd Particulieren</h1>--><!--
<h2>Welkom Hoofd Particulieren</h2>-->
<h3>Overzicht top <span th:text="*{listSize}"></span> particulieren met hoogste saldo</h3>
<p>N.B. bij een en/of rekening wordt de eerste rekeninghouder getoond.</p>
<table>
    <tr>
    <td>IBAN van bankrekening Saldo Nr Naam</td>
    </tr>
    <div th:unless="${#lists.isEmpty(top10_Client_List)}">
      <tr th:each="item : ${top10_Client_List}">
            <td><span th:text="${item}"/></td>
      </tr>
    </div>
</table>
</div>
</div>


<div th:if="${roleBooleanHMKB}">
    <div class="p-3 mb-2 bg-primary text-white">Welkom Hoofd MKB</div>
    <div class="p-3 mb-2 bg-secondary text-white">
    <!--<h1>Hoofd MKB</h1>
    <h2>Welkom Hoofd MKB</h2>-->
    <h3>Overzicht top <span th:text="*{listSize}"></span> MKB klanten met hoogste saldo</h3>
    <table>
        <tr>
            <td>IBAN van bankrekening Saldo Bedrijfsnaam Rechtsvorm</td>
        </tr>
        <div th:unless="${#lists.isEmpty(top10_Client_List)}">
            <tr th:each="item : ${top10_Client_List}">
                <td><span th:text="${item}"/></td>
            </tr>
        </div>
    </table>
</div>
</div>

<div th:if="${roleBooleanAM}">
    <div class="p-3 mb-2 bg-primary text-white">Welkom accountmanager</div>
    <div class="p-3 mb-2 bg-secondary text-white">
   <!-- <h1>Account Management</h1>
    <h2>Welkom accountmanager</h2>-->
    Er is nog geen functionaliteit voor uw rol.
</div>
</div>
<!--
<a href="/logout">Uitloggen als bankmedewerker</a>-->
</body>
</html>