<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png" sizes="24x24">

    <title>Couch Bank</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img th:src="@{/images/couchlogo.png}" alt="logo" height="100"/>
            <a class="navbar-brand" ></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/logout">Uitloggen</a></li>
        </ul>
    </div>
</nav>
<div class="row"></div>
<div class="p-3 mb-2 bg-primary text-white">Welkom <span th:text="${smeUser.firstName}"></span> <span th:text="${smeUser.lastName}"></span></div>
<div class="p-3 mb-2 bg-secondary text-white"></div>
<div class="container">
    <br>
    <h1>Zakelijk Pagina</h1>
    <h2><span th:text="${company.companyName}"> </span> <span th:text="${company.companyType}"></span> - KvK nummer: <span th:text="${company.chamberOfCommerceId}"></span></h2>

    <div th:if="${message!= null}">
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span th:text="${message}"></span></strong>
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(allBankAccounts)}">

        <table class="table table-sm" title="Overzicht">
            <thead title="Rekeningen">
            <tr>
                <th>Bankrekening(IBAN)</th>
                <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bankAccount: ${allBankAccounts}">
                <td><a href='/companyAccountDetails' th:href="@{companyAccountDetails(id=${bankAccount.bankAccountId})}"
                       th:text="${bankAccount.iBAN}"></a></td>
                <td><span th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)}"></span></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div th:if="${feedback!= null}">
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span th:text="${feedback}"></span></strong>
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(employees)}">
        <h4>Medewerkers</h4>
        <table class="table table-sm" >
            <thead title="Medewerkers">
            <tr>
                <th>Voornaam</th>
                <th>Tussn</th>
                <th>Achternaam</th>
                <th>Rol</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="smeUser: ${employees}">
                <td><span th:text="${smeUser.firstName}"></span></td>
                <td><span th:text="${smeUser.middleName}"></span></td>
                <td><span th:text="${smeUser.lastName}"></span></td>
                <td><span th:text="${smeUser.roleEmployee}"></span></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

    <br>
    <form action="#" th:action="@{newEmployeeRequest}" method="post">
        <td>Add employee:</td>
        <td><label for="newbsn">bsn:</label></td>
        <td><input type="number" name ="newbsn" id="newbsn" th:object="${newbsn}" minlength="8" maxlength="9" min="10000000" max="999999999" required></td>
        <td><label for="newrole" >Rol:</label>
            <select id="newrole" name="newrole" th:object="${newrole}" required>
                <option value=""> -- </option>
                <option  th:each="newrole: ${roles}" th:value = "${newrole}" th:utext = "${newrole}" ></option>
            </select>
        </td>
        <input type="submit" value="Submit">
    </form>
    <br>

    <form action="#" th:action="@{newCompanyAccountRequest}" th:object="${company}" method="post">
        <tr>Klik om een nieuwe rekening te openen:</tr>
        <input type="submit" value="Rekening openen">
    </form>

</div>
</body>
</html>

