<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <title>Zakelijk Pagina</title>
</head>
<body>
<h1>Zakelijk Pagina</h1>
<h2>Bedrijfsnaam: <span th:text="${company.companyName}"></span></h2>
<h3>KvK nummer: <span th:text="${company.chamberOfCommerceId}"></span></h3>
<h3>Ondernemingsform: <span th:text="${company.companyType}"></span></h3>
<p>Gebruiker: <span th:text="${userName}"></span></p><p>role: <span th:text ="${role}"></span></p>


<div th:unless="${#lists.isEmpty(allBankAccounts)}">

        <table>
                <tr>
                        <th>Bankrekening(IBAN)</th>
                        <th>Saldo</th>
                </tr>
                <tr th:each="bankAccount: ${allBankAccounts}">
                        <td><a href="/companyAccountDetails" th:href="@{/companyAccountDetails(id=${bankAccount.bankAccountId})}"
                               th:text="${bankAccount.iBAN}"></a></td>
                        <td><span th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)}"/></td>
                </tr>
        </table>
        <br>
</div>

<br>
<form action="#" th:action="@{newCompanyAccountRequest}" th:object="${company}" method="post">
        <tr>Klik om een nieuwe rekening te openen: </tr>
        <input type="submit" value="Rekening openen">
</form>


<a href="/">Uitloggen</a>

</body>
</html>

