<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<body>
<h1>Welkom <span th:text="${name}"></span></h1>
<h2>IBAN <span th:text="${bankaccount}"></span></h2>
<h2>Transaction details</h2>
<form action="#" th:action="@{transactionHandler}" th:object="${transaction}" method="post">
<!--    <table>-->
<!--        <tr>-->
<!--            <td>transactionDate:</td>-->
<!--            <td><input type="text" th:field="*{transactionDate}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>from:</td>-->
<!--            <td><input type="text" th:field="*{from}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>to:</td>-->
<!--            <td><input type="text" th:field="*{to}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>amount:</td>-->
<!--            <td><input type="text" th:field="*{amount}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>description:</td>-->
<!--            <td><input type="text" th:field="*{description}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>loan (if any):</td>-->
<!--            <td><input type="text" th:field="*{loan}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>pin (y/n):</td>-->
<!--            <td><input type="text" th:field="*{isPin}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
            <td><input type="submit" value="Confirm"></td>
        </tr>
    </table>
</form>
<br>
Ga <a href="/">terug</a> naar het begin...
</body>
</html>