<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<body>
<h1>Hoi <span th:text="${userName}"></span></h1>
<h2>IBAN <span th:text="${bankAccountFrom}"></span></h2>
<h2>Saldo <span th:text="${balance}" th:field="*{balance}"> </span> euros </h2>
<h2>Transactie details</h2>

<form action="#" th:action="@{transactionConfirmation}" th:object="${transaction}" method="post">
    <input type="hidden" th:field="*{fromAccount}"/>

    <table>
        <tr>
            <td>transactie datum-tijd:</td>
            <td><span th:text="${date_time}"></span></td>
        </tr>
        <tr>
            <td>van IBAN:</td>
            <td><span th:text="${bankAccountFrom}" th:field="*{fromAccount}">  </span> </td>
        </tr>
            <td>bedrag in euro's</td>
            <td><input type=number th:field="*{amount}" step="any" min="0"/></td>
            <td th:if="${#fields.hasErrors('amount')}">Amount ongeldig.</td>
        <tr>
        <tr>
            <td>naar IBAN:</td>
            <td><input type="text" th:field="*{toAccount}"/></td>
        </tr>
        <tr>
            <td>omschrijving:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
            <td><input type="submit" value="Bevestig"></td>
        </tr>
    </table>
</form>
<br>
Ga <a href="/overview">terug</a> naar uw persoonlijke pagina.
</body>
</html>