<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Welkom bij Couch Bank</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Welkom bij Couchbank</h1>-->
<!--<form action="#" th:action="@{loginHandler}" th:object="${user}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Naam:</td>-->
<!--            <td><input type="text" th:field="*{userName}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Password:</td>-->
<!--            <td><label>-->
<!--                <input type="text" th:field="*{userPassword}"/>-->
<!--            </label>-->
<!--            <td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input type="submit" value="Login"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->
<!--<form>-->
<!--    klik <a href="newUser">hier</a> voor new user-->
<!--</form>-->
<!--</body>-->
<!--</html>-->