HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### single files ###
C:\Users\Boudewijn\IdeaProjects\team-4\couch\src\main\resources\templates\transaction.html
C:\Users\Boudewijn\IdeaProjects\team-4\couch\src\main\java\miw\s16\couch\couch\controller\TransactionLauncher.java
